.baniere {
    background-image: url(./images/danilo-d-agostino-NjhHTNPkEDQ-unsplash\(1\).jpg);
    background-size: cover;
    padding-top: 3%;
height: 250px;
    text-align: center;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large;
    font-weight: 300;
}


article {
border: 1px;
  border-color: rgb(0, 0, 0);
  border-style:double;
  border-radius: 10px;
  text-align: center;
}

img {
    border-radius: 10px;
    
}
h3{
    color: black;
    text-align: center;
    font-size: medium;
}
p{
    font-size: medium;
}

.ROAD{
    padding-left: 2%;
}


