*{
    margin: 0;
    padding: 0;
}

.hist{
    text-align: center;
    color: #003059;

    text-shadow: none;
    padding-bottom: 0;
    
}

/* .profil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 7vh;
    left:6%;
} */

.menufix { 
    position: fixed;
    background-color: #003059;
    border-radius: 10%;
    padding: 15px;
    top: 320px;
    left: 1.5%;
    width: 270px;
    height: 300px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.grey{
    color: yellow;
    text-decoration: none;
    text-transform: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


.menufix li{
    list-style: none;
    margin: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    text-decoration: none;
    text-transform: none;
    color:white;
}

h3 {
    margin-bottom: 15px;
}



.article{
    text-align: center;
    /* width: 40%; */
    margin-left: 30%;
    margin-top: 60px;
}

.voyage_1{
    height: 200px;
    width: 300px;
    margin-top: 30px;
    font-size: small;
}

.voyages{
    display: flex;
}
p{
    font-size: small;
    padding-bottom: 15px;
}
img{
    margin-top: 20px;
    margin-bottom: ;
}