body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #003059;
    margin-bottom: 5vh;
    margin-top: 100px;
}

.profil{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    display: block;
    top: 7vh;
    left:6%;
}

.container { 
    position: fixed;
    background-color: #003059;
    border-radius: 10%;
    padding: 15px;
    top: 200px;
    left: 1.5%;
}

.grey{
    color: yellow;
    text-decoration: none;
    text-transform: none;
}


.container li{
    list-style: none;
    margin: 20px;
}

.nav{
    text-decoration: none;
    text-transform: none;
    color:white;
}

.info {
    text-align: center;
}

.image {
    margin-left: 615px;
    height: 150px;
    width: 200px;
    border-radius: 20px;
}

.form button {
    border-radius: 20px;
    background-color:#003059;
    color: white;
    margin-left: 670px;
}
