
body{
    margin: 0;
    padding: 0;
}

.conseil{
    text-align: center;
    color: #003059;
    text-shadow: none;
    padding-bottom: 15px;
}


.menufix { 
    position: fixed;
    background-color: #003059;
    border-radius: 10%;
    padding: 15px;
    top: 240px;
    left: 1.5%;
    width: 270px;
    height: 350px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.grey{
    color: yellow;
    text-decoration: none;
    text-transform: none;
}


.menufix li{
    list-style: none;
    margin: 20px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    text-decoration: none;
    text-transform: none;
    color:white;
}

.info {
    text-align: center;
    font-size: medium;
}

.image {
    margin-left: 608px;
    height: 150px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.form button {
    border-radius: 20px;
    background-color:#003059;
    color: white;
    margin-left: 670px;
}

.date{
    width: 300px;
    height: 40px;
}

.nom{
    width: 400px;
    height: 30px;  
}
.prenom{
    width: 380px;
    height: 30px;  
}

.num{
    width: 280px;
    height: 30px;  
}

.email {
    width: 360px;
    height: 30px;    
}


.submit{
    width: 200px;
    color: white;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;}

button{
margin-left: 23px;
text-decoration: none;}