body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #003059;
    text-shadow: none;
    margin-left: 4%;
    padding-bottom: 1%;

}

h3 {
    margin-bottom: 20px;
}

.menu { 
    position: fixed;
    background-color: #003059;
    border-radius: 10%;
    padding: 15px;
    top: 320px;
    left: 1.5%;
    width: 270px;
    height: 300px;
    
}

.grey{
    color: yellow;
    text-decoration: none;
    text-transform: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
;
}


.menu li{
    list-style: none;
    margin: 20px;
}

.nav{
    text-decoration: none;
    text-transform: none;
    color:white;
}

h1{
    text-align: center;
    color: #003059;
    margin-bottom: 5vh;
}

.hauttitre {
    text-align: center;
}

h2 {
    text-align: center;
    margin-left: 200px;
    padding: 50px;
    font-size: 20px;
    font-size: large;
}
.article {
    margin-top: 400px;
}

.titre1 {
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-left: 6%;
}

.paragraphe1 {
    text-align: justify;
    margin-left: 320px;
    font-size: medium;
    margin-right: 13%;
}

.titre2 {
    text-align: center;
    text-decoration: underline;
    color: red;
    margin-left: 6%;
}

.paragraphe2 {
    text-align: justify;
    margin-left: 320px;
    font-size: medium;
    margin-right: 13%;
 
}

.pimage{
    width: 100%;
    position: relative;
}
.image {
    height: 400px;
    width: 64%;
    /* margin-left: 300px; */
    overflow: hidden;
    position: absolute;
    display: inline-block;
    left: 22.5%;
    background-image: url(./roadtripfloride.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    text-align: center;
    justify-content: center;
    animation-name: change;
    transition: 15s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
    margin-top: 0px;

}

@keyframes change{
    0%
    {
        background-image: url(./images/roadtripfloride.jpeg);
    }
    50%
    {
        background-image: url(./images/floride1.webp);
    }
    100%
    {
        background-image: url(./images/floride2.jpeg);
    }
}
p{
    margin-bottom: 20px;
    margin-left: 5%;
    font-size: large;
  
}