body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #003059;
    text-shadow: none;
    margin-bottom: 0;
}



.menufix { 
    position: fixed;
    background-color: #003059;
    border-radius: 10%;
    padding: 15px;
    top: 320px;
    left: 1.5%;
    width: 270px;
    height: 300px;
}

.grey{
    color: yellow;
    text-decoration: none;
    text-transform: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


.menufix li{
    list-style: none;
    margin: 20px;
}

.nav{
    text-decoration: none;
    text-transform: none;
    color:white;
}

h1 {
    text-align: center;
    color: #003059;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    color: black;
    margin-bottom: 0;
}
h4 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.image {
    margin-left: 350px;
}

form {
<<<<<<< HEAD
margin-top: 50px;
text-align: center;
font-size: medium;
}
p{
    font-size: medium;  
}

.nom{
    width: 250px;
    height: 30px;
}
.prenom {
    width: 230px;
    height: 30px;
}


.vacc{
    width: 100px;
    height: 20px;  
}

.pcr{
    
        width: 100px;
        height: 20px;  
    
}
.aero {  width: 150px;
    height: 30px;}

.aero1 {
        width: 170px;
    height: 30px;
    }

.volA{
    width: 115px;
    height: 30px; 
}
.volAA {
    width: 128px;
    height: 30px;
}

.volR{
    width: 130px;
    height: 30px;
}
.volRR{
    width: 140px;
    height: 30px; 
}

form.guide{
    margin-top: 5px;
text-align: center;
font-size: medium;
}
=======
    text-align: justify;
    margin-left: 630px;
}
>>>>>>> a9f63313852a3620a2f5ba8cb7920dc4a4b853c5
